/* Estilos para el contenedor principal */

html{
    font-family:sans-serif;
}

#navbar__inline{
    align-content:center;
}

#body__index{
    width: 100%;
    height: 100vh;
    /* max-height: 1500px; */
    background: url(./Image/bg-index.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0.5;
    text-align: center;
   /*  background:linear-gradient(#350435,#531153,#5a2e5a); */
}


.span__nameGame{
    font-size: 3rem;
}

.span__login-toggler{
    font-size: 0.8rem;
}


.logo{
    width:20%;
}

.img-nav{
    margin-right: 2%;
}

#navbarSupportedContent{
    grid-column:2/3;
}


#logo__animate{
    display: grid;
    justify-content: center;
    /* padding-top: 10vh; */
}

.img__logo__index{
    width: 100%;
    height: max-content;
}

.tittle__index{
    color: white;
    text-align: center;
    margin-bottom: 5%;
}

#button__index{
    text-align: center;
    padding-top: 25%;
}
/* Botón de inicio */
.button__jugar {
    color: #FFFFFF;
    font-size: 1.5rem;
    border-radius: 5rem;
    background-color: #FF6B6B;
    padding:  2% 30% 2% 30%;
    transition: all 0.2s ease;
}

.button__jugar:hover {
    transform: scale(1.1);
    background-color: #C9FFA5;
    color: #000000;
    box-shadow: 0 0 1rem #C9FFA5;
}

/* Pie de página */
.footer__index {
    margin-top: 10rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

/* .button__jugar{
    width: 80%;
    max-width: 300px;
    padding:  2% 30% 2% 30%;
    border: none;
    border-radius: 10px;
    text-align: center;
    background: #ff8000;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.button__jugar:hover{
    
    background: #ffa700;
} */

.link__jugar:active{
    text-decoration: none;
    color: white;
}


/* Juegos */

#body__juegos{
    width: 100%;
    height: 100vh;
   /*  background: url(../Image/Background/bg-comoJugar.jpg) no-repeat center center; */
   
   /*  background-size: cover; */
    padding-bottom:5%;
}


.user__img{
    border-radius: 100%;
    
}

/* .timer-container {
    display: grid;
    grid-template-column: 2fr;
    place-content: center;
    padding: 2% 0% 0%  0%;
} */

h3{ 
    color: #fff;
}

/* .timer {
    
    text-align: center;
    max-width: 500px;
    background-color:  #edca03;
    border-radius: 100%;
    margin: 1% 0 1% 0;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.timer span {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.timer span:not(:last-child)::after {
    content: ":";
    margin-left: 5px;
    margin-right: 5px;
} */




/* Estilos para las preguntas */

#playRoom #quiz-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 2% 10% 10% 10%;
    
}

#quiz-container {
    margin: 0 auto;
    text-align: center;
}

#timer-container{
    width: 100%;
    max-width: max-content;
    border-radius: 25px;
    height: max-content;
    background: yellow;
    text-align: center;
    font-weight: bold;
    padding: 2%;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

#question-container {
    background-color: #ffd900;
    width: 100%;
    max-width: 1000px;
    /* color: whitesmoke; */
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 20px;
}

#category-container{
    width: 100%;
    padding: 1%;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: #ff4800d0;
    color: white;
    border-radius: 5px;
    margin-bottom: 1%;
}

#answer-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr; */
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 20px;
}

.answer-button {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9f1;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.answer-button:hover {
    background-color:  #f9f9f9f1;
    /* box-shadow: #e8af05 1px 1px 25px 1px; */
    transition: all 0.3s;
}
.answer-button:active {
    background-color:  #f9f9f9f1;
    /* box-shadow: #e8af05 1px 1px 25px 1px; */
    transition: all 0.3s;
}


.correct{
    background-color: #27ae60;
    color: #ffff;
    font-weight: bold;
    
}
.correct:hover{
    background-color: #27ae60;
    color: #ffff;
    font-weight: bold;
    
}

.incorrect{
    background-color: #c0392b;
    color: #ffff;
    font-weight: bold;
    
}
.incorrect:hover{
    background-color: #c0392b;
    color: #ffff;
    font-weight: bold;
    
}

#alert-correct{
    width: 300px;
    padding: 2%;
    margin: 2%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    
}

.textIncorrect{
    border-radius: 10px;
    background-color: #c0392b;
    color: #ffff;
    font-weight: bold;
}

.textCorrect{
    border-radius: 10px;
    background-color: #27ae60;
    color: #ffff;
    font-weight: bold;
}

#score-container {
    width: 150px;
    font-weight: bold;
    padding: 1%;
    border-radius: 10px;
}
.score{
    padding: 2%;
    background: yellowgreen;
    border-radius: 10px;
    font-size: 1.5rem;
}

.scoreFin{

    padding: 5%;
    border-radius: 25px;
    background: yellow;
    font-weight: bold;
    font-size: 2rem;
}



/* Footer */

#footer{
    width: 100%;
    height: 40px;
}

/* .contenedor-icono{
    width: 100%;
    height: 40px;
} */


/* .contenedor-icono  */.bi-arrow-left {
    width: 45px;
    height: 40px;
}

.arrow__return:hover {
    
    color: #cccccc;
}

.img__icon__foot{
    width: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 2px;
}
/* .container-return-juegos{
    width: 45px;
    height: 40px;
    border-right: 2px solid #80808040 ;
} */



/* Categorias */


#categorias{
    width: 100%;
    /* height: 200vh;
    background-color: aquamarine; */
}

/* .container__cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
    padding: 10% 5% 10% 5%;
    gap: 5%;
    
} */

/* .cards{
    background-color: #fff;
    width: 250px;
    height: 300px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-shadow: #ccc;
    text-align: center;
    padding: 5%;
    
} */



/* Contacto */

#body__contacto{
    width: 100%;
    height: 80vh;
}


/* Login */

#body__login{
    width: 100%;
    height: 100vh;
    padding: 2%;
    background: url(./Image/bg-login.jpg) no-repeat center;
    background-size: cover;
    
}

#card__login{
    width: 98%;
    max-width: 500px;
    height: 95vh;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.link__index{
    text-decoration: none;
    font-weight:bold ;
}

.letra__q{
    color: #e8af05;
    letter-spacing: 1rem;
}

.letra__p{
    color:#007bff;
}

.letra__l{
    color: red;
}

.letra__a{
    color:#00b500;
}

.letra__y{
  color:#ffa700;  
}


#form__login {
    text-align: left;
}

.title__login {
    margin-bottom: 20px;
    text-align: center;
}

.label__login {
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
    color:#808080db;
    
}

.input__mail,
.input__password {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border:whitesmoke;
    background: whitesmoke;
    
    
}

input:focus {
    outline: unset;
}

.input__mail:focus{
    border-bottom:#007bff solid 3px;
}

.input__password:hover {
    
    border-bottom:#007bff solid 3px;
    
}

#register{
    display: flex;
    justify-content: center;
    gap:20px;
}

.newUser{
    
    text-decoration: none;
}

#pass__remember{
    margin-bottom: 20px;
}

.pass__remember a{
    text-decoration: none;
    font-size: 0.8rem;
}

.input__submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10%;
}

.input__submit:hover {
    background-color: #0062cc;
}
  
#register__redSocial{
    padding: 1%;
    text-align: center;
    margin-bottom: 5%;
}


.input__google{
    width: 100%;
    border-radius: 25px;
    border: #8080805e solid 1px;
    color:#808080cc;
    margin: 10px 0 10px 0;
    background-color: white;
    text-decoration: none;
    padding: 5%;
    /* padding: 1%; */
}

.social__hover:hover{
    padding: 1%;
    transition: 4ms;
}

/* .container__google{
    margin-bottom: 10%;
} */

.input__facebook{
    width: 100%;
    border: none;
    border-radius: 25px;
    color: white;
    /* background-color: #007bff; */
    background-color: #0c91ed;
    text-decoration: none;
    padding: 5%;
    
}

.input__facebook:hover{
    color: white;
}

/* .register__facebook{
    color: white;
    text-decoration: none;
    padding: 5%;
} */

/* a.register__facebook:hover{
    color: white;
} */

.register__google{
    color:#808080db;
    text-decoration: none;
    padding: 5%;
    
}

#icon__login{
    text-align: left;
    width: 100%;
}

.img-icon__login{
    width: 15%;
    height: 10%;
}


/* Responsive */
@media screen and (max-width: 767px) {

    #navbar__inline{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: end;

    }

    #answer-buttons-container{
        grid-template-columns: 1fr;
    }

    .question {
        padding: 10px;
    }
    
    input[type="button"] {
        margin-right: 5px;
    }
    
    #submit {
        padding: 5px 10px;
        font-size: 16px;
    }
    
    #result {
        font-size: 20px;
    }

}


@media (min-width: 420px) and (max-width: 767px) {

    .button__index{
        padding-top:1% ;
    }

}

@media screen and (min-width: 768px) {
    
    .logo{
        width:10%;
    }
    
    #body__index{
        width: 100%;
        height: 100vh;
        max-height: 1500px;
    }

    .button__index{
        text-align: center;
        padding-top: 1%;
    }
    
    .button__jugar{
        width: 80%;
        padding:  2% 10% 2% 10%;
        border: none;
        border-radius: 10px;
        text-align: center;
        background: #ff8000;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
    }

    .link__jugar:hover{
        text-decoration: none;
        color: white;
    }

    #categorias{
        width: 100%;
        height: 88vh;
        background-color: aquamarine;
    }

    .container__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,1fr);
        align-content: center;
        justify-items: center;
        padding: 5% 10% 5% 10%;
        gap: 10%;
    }
}


