/* Footer */

#footer{
    width: 100%;
    height: 40px;

    .bi-arrow-left {
        width: 45px;
        height: 40px;
        .arrow__return:hover {
    
            color: #cccccc;
        }
    }
}

/* Cierre Footer */