/* Header */

#navbar__inline{
    align-content:center;
    .user__img{
        border-radius: 100%;
    }
    .link__index{
        text-decoration: none;
        font-weight:bold ;
    }
    
    .letra__q{
        color: #e8af05;
        letter-spacing: 1rem;
    }
    
    .letra__p{
        color:#007bff;
    }
    
    .letra__l{
        color: red;
    }
    
    .letra__a{
        color:#00b500;
    }
    
    .letra__y{
      color:#ffa700;  
    }
}

