/* Responsive */

@media screen and (max-width: 767px) {

    .logo {
        width: 20%;
    }
    .link__categoria{
        font-size: 0.8rem;
    }

    .tittle__index {
        font-size: 2.5rem;
    }

    #button__index {
        margin-top: 15%;

        .buton__jugar{
            padding: 2% 30% 2% 30%;
        }
    }

    #navbar__inline {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: end;
    }

    #answer-buttons-container {
        grid-template-columns: 1fr;
    }

    .question {
        padding: 10px;
    }

    input[type="button"] {
        margin-right: 5px;
    }

    #submit {
        padding: 5px 10px;
        font-size: 16px;
    }

    #result {
        font-size: 20px;
    }

}

@media screen and (min-width: 768px) {

    .logo {
        width: 10%;
    }
    .tittle__index {
        font-size: 3rem;
    }

    #button__index {
        margin-top: 5%;
        .buton__jugar{
            padding: 2% 20% 2% 20%;
        }
    }

    /* login */

    /* #card__login{
        height: 500px;
    } */

    /* #categorias{
        width: 100%;
        height: 88vh;
    } */


    .container__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
        justify-items: center;
        padding: 5% 10% 5% 10%;
        gap: 10%;
    }
}

/* fin Responsive  */
