/* Vars */

//Colores Logo
$ColorLetraQ:#C9FFA5;
$ColorLetraP:#FFE766;
$ColorLetraL:#FF6B6B;
$ColorLetraA:#FFE766;
$ColorLetraY:#C9FFA5;
$colorCopy: #ffffff70;
$colorFluor: #C9FFA5;
$base-font-size: 16px;

/* Cierre Vars */