/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Vars */
/* Cierre Vars */
/* Header */
#navbar__inline {
  align-content: center;
}
#navbar__inline .span__login {
  font-size: 0.8rem;
}
#navbar__inline .span__login-toggler {
  font-size: 0.8rem;
}
#navbar__inline .user__img {
  border-radius: 100%;
}
#navbar__inline .link__index {
  text-decoration: none;
  font-weight: bold;
}
#navbar__inline .letra__q {
  color: #C9FFA5;
  letter-spacing: 1rem;
}
#navbar__inline .letra__p {
  color: #FFE766;
}
#navbar__inline .letra__l {
  color: #FF6B6B;
}
#navbar__inline .letra__a {
  color: #FFE766;
}
#navbar__inline .letra__y {
  color: #C9FFA5;
}

/* Footer */
#footer {
  /* width: 100%;
  height: 40px; */
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); */
}
#footer .bi-arrow-left {
  width: 45px;
  height: 40px;
  /* background-color: $colorCopy; */
}
#footer .bi-arrow-left .arrow__return:hover {
  color: #cccccc;
}
#footer .img__icon__foot {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-bottom: 2px;
}

/* Cierre Footer */
/* Responsive */
@media screen and (max-width: 767px) {
  .logo {
    width: 20%;
  }
  .link__categoria {
    font-size: 0.8rem;
  }
  .tittle__index {
    font-size: 2.5rem;
  }
  #button__index {
    margin-top: 10%;
  }
  #navbar__inline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
  #answer-buttons-container {
    grid-template-columns: 1fr;
  }
  .question {
    padding: 10px;
  }
  input[type=button] {
    margin-right: 5px;
  }
  #submit {
    padding: 5px 10px;
    font-size: 16px;
  }
  #result {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    width: 10%;
  }
  .tittle__index {
    font-size: 3rem;
  }
  #button__index {
    margin-top: 5%;
  }
  /* login */
  /* #card__login{
      height: 500px;
  } */
  /* #categorias{
      width: 100%;
      height: 88vh;
  } */
  .container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    padding: 5% 10% 5% 10%;
    gap: 10%;
  }
}
/* fin Responsive  */
/* Index */
html {
  font-family: sans-serif;
}

.body__index {
  width: 100%;
  height: 100vh;
  /* max-height: 1500px; */
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: url(../Image/Background/abtracto9.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: 0.5;
  opacity: 0.9;
  text-align: center;
}

#logo__animate {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.img__logo__index {
  width: 100%;
  max-width: 400px;
  animation: spin 3s linear reverse;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
    animation-duration: 4s;
  }
}

#name__GameApp .tittle__index {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
#name__GameApp .tittle__index .span__nameGame {
  display: inline-block;
  text-shadow: 1px 1px 0;
  transition: transform 0.5s ease-in-out;
  letter-spacing: 0.1rem;
  transform: rotate(-10deg);
}
#name__GameApp .tittle__index .span__nameGame.letra__q {
  color: #C9FFA5;
  letter-spacing: 1rem;
}
#name__GameApp .tittle__index .span__nameGame.letra__p {
  color: #FFE766;
}
#name__GameApp .tittle__index .span__nameGame.letra__l {
  color: #FF6B6B;
}
#name__GameApp .tittle__index .span__nameGame.letra__a {
  color: #FFE766;
}
#name__GameApp .tittle__index .span__nameGame.letra__y {
  color: #C9FFA5;
}
#name__GameApp .tittle__index .span__nameGame:hover {
  transform: rotateX(360deg);
}
#name__GameApp .tittle__index .span__nameGame:before {
  content: attr(data-letter);
  display: block;
  /* color: yellow; */
  text-shadow: none;
  transform: translateZ(10px);
}

#button__index {
  text-align: center;
}
#button__index .button__jugar {
  color: #000000;
  font-size: 1.5rem;
  border-radius: 5rem;
  border: none;
  background-color: #C9FFA5;
  padding: 2% 20% 2% 20%;
  transition: all 0.5s ease;
  text-decoration: none;
  letter-spacing: 0.2rem;
  /* &:hover {
      background: #ffa700;
      color: white;
  } */
  /* &:active {
      text-decoration: none;
      color: white;
  } */
}
#button__index .button__jugar:hover {
  transform: scale(1.1);
  background-color: #C9FFA5;
  padding: 3% 25% 3% 25%;
  color: #000000;
  box-shadow: 0 0 1rem #C9FFA5;
}
#button__index .button__jugar:active {
  transform: scale(1.1);
  background-color: #C9FFA5;
  padding: 3% 25% 3% 25%;
  color: #000000;
  box-shadow: 0 0 1rem #C9FFA5;
}

.footer__index {
  /* margin-top: 10rem; */
  color: rgba(255, 255, 255, 0.4392156863);
  /* font-size: 1rem; */
  font-family: "Roboto", sans-serif;
}

/* Login */
#body__login {
  width: 100%;
  height: 100vh;
  padding: 1%;
  background: url(../Image/Background/bg-login.jpg) no-repeat center;
  background-size: cover;
}
#body__login #card__login {
  width: 98%;
  max-width: 500px;
  height: 98vh;
  margin: 0 auto;
  background-color: whitesmoke;
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#body__login #card__login #icon__login {
  text-align: left;
  width: 100%;
  font-size: 0.8rem;
}
#body__login #card__login #icon__login .img-icon__login {
  width: 10%;
  height: 10%;
}
#body__login #card__login #icon__login .letra__q {
  color: #C9FFA5;
  letter-spacing: 1.5rem;
}
#body__login #card__login #icon__login .letra__p {
  color: #FFE766;
}
#body__login #card__login #icon__login .letra__l {
  color: #FF6B6B;
}
#body__login #card__login #icon__login .letra__a {
  color: #FFE766;
}
#body__login #card__login #icon__login .letra__y {
  color: #C9FFA5;
}
#body__login #card__login #icon__login .link__index {
  text-decoration: none;
}
#body__login #card__login #form__login {
  text-align: left;
  /* &:focus{

  } */
}
#body__login #card__login #form__login .title__login {
  /* font-size: calc(1.325rem + .9vw); */
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
#body__login #card__login #form__login .label__login {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
  color: rgba(128, 128, 128, 0.8588235294);
}
#body__login #card__login #form__login .input__mail,
#body__login #card__login #form__login .input__password {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: whitesmoke;
  background: whitesmoke;
}
#body__login #card__login #form__login .input__mail:focus,
#body__login #card__login #form__login .input__password:focus {
  outline: unset;
}
#body__login #card__login #form__login .input__mail:focus {
  border-bottom: #007bff solid 3px;
}
#body__login #card__login #form__login .input__password:hover {
  border-bottom: #007bff solid 3px;
}
#body__login #card__login #register {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 2%;
}
#body__login #card__login #register .newUser {
  text-decoration: none;
}
#body__login #card__login #pass__remember {
  margin: 15px 0px;
}
#body__login #card__login #pass__remember a {
  text-decoration: none;
  font-size: 0.8rem;
}
#body__login #card__login #btn__ingresar .input__submit {
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 5% 0% 10% 0%;
}
#body__login #card__login #btn__ingresar .input__submit:hover {
  background-color: #0062cc;
}
#body__login #card__login #register__redSocial {
  padding: 1%;
  text-align: center;
  margin-bottom: 5%;
}
#body__login #card__login #register__redSocial .input__google {
  width: 100%;
  border-radius: 25px;
  border: rgba(128, 128, 128, 0.368627451) solid 1px;
  color: rgba(128, 128, 128, 0.8);
  margin: 10px 0 10px 0;
  background-color: white;
  text-decoration: none;
  padding: 5%;
}
#body__login #card__login #register__redSocial .input__google:hover {
  color: rgba(128, 128, 128, 0.8588235294);
}
#body__login #card__login #register__redSocial .input__facebook {
  width: 100%;
  border: none;
  border-radius: 25px;
  color: white;
  /* background-color: #007bff; */
  background-color: #0c91ed;
  text-decoration: none;
  padding: 5%;
}
#body__login #card__login #register__redSocial .input__facebook:hover {
  color: white;
}

/* juegos/Categorias*/
#categorias {
  /* width: 100%; */
  background: url(../Image/Background/abtracto9.jpg) no-repeat center;
  background-size: cover;
}
#categorias .card {
  background-color: whitesmoke;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* QuestionGame */
#body__juegos {
  width: 100%;
  height: 100vh;
  padding-bottom: 5%;
  background: url(../Image/Background/abtracto9.jpg) no-repeat center center;
  background-size: cover;
}

#playRoom {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 2% 10% 10% 10%; */
}
#playRoom #quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 2% 10% 10% 10%;
  margin: 0 auto;
  text-align: center;
}
#playRoom #quiz-container #timer-container {
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 10px;
  height: -moz-max-content;
  height: max-content;
  background: yellow;
  text-align: center;
  font-weight: bold;
  padding: 3%;
  font-size: 1.5rem;
  margin-bottom: 1%;
}
#playRoom #alert-correct {
  width: 300px;
  padding: 3%;
  margin: 2%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
#playRoom #alert-correct .textCorrect {
  border-radius: 10px;
  background-color: #27ae60;
  color: white;
  font-weight: bold;
  padding: 10px;
}
#playRoom #alert-correct .textIncorrect {
  border-radius: 10px;
  background-color: #c0392b;
  color: white;
  font-weight: bold;
  padding: 10px;
}
#playRoom #category-container {
  width: 100%;
  padding: 2%;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: rgba(255, 72, 0, 0.8156862745);
  color: white;
  border-radius: 5px;
  margin-bottom: 1%;
}
#playRoom #question-container {
  background-color: #ffd900;
  width: 100%;
  /* max-width: 1000px; */
  /* color: whitesmoke; */
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 3%;
  margin-bottom: 20px;
}
#playRoom #answer-buttons-container {
  /*  display: grid;
   grid-template-columns: 1fr; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-columns: 1fr; */
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  gap: 10px;
}
#playRoom #answer-buttons-container .answer-button {
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9450980392);
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  border: none;
  font-size: 16px;
  cursor: pointer;
}
#playRoom #answer-buttons-container .answer-button:hover {
  background-color: rgba(249, 249, 249, 0.9450980392);
  /* box-shadow: #e8af05 1px 1px 25px 1px; */
  transition: all 0.3s;
}
#playRoom #answer-buttons-container .answer-button:active {
  background-color: rgba(249, 249, 249, 0.9450980392);
  transition: all 0.3s;
}
#playRoom #answer-buttons-container .correct {
  background-color: #27ae60;
  color: white;
  font-weight: bold;
}
#playRoom #answer-buttons-container .correct:hover {
  background-color: #27ae60;
  color: white;
  font-weight: bold;
}
#playRoom #answer-buttons-container .incorrect {
  background-color: #c0392b;
  color: white;
  font-weight: bold;
}
#playRoom #answer-buttons-container .incorrect:hover {
  background-color: #c0392b;
  color: white;
  font-weight: bold;
}
#playRoom #score-container {
  font-weight: bold;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
}
#playRoom #score-container .score {
  padding: 2%;
  background: #C9FFA5;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}
#playRoom #score-container .scoreFin {
  padding: 5%;
  border-radius: 15px;
  background: #C9FFA5;
  font-weight: bold;
  font-size: 2rem;
}

/* Tutorial */
/* Ayuda *//*# sourceMappingURL=main.css.map */